<!-- Footer -->
<div class="demoFooter">
<footer class="page-footer font-small teal pt-5">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">
    
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Important Links</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Contact</a></li>
          <li><a href="/">About</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Content -->
         © 2020 Copyright: <strong>Notes Task</strong>
         <!-- <a href="/"> <img src="/img/logo_footer.png" height="60" width="110" style=";"> </a>-->
          

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->
  <br><br>
  <!-- Copyright -->
  <!-- Copyright © 2020 Copyright: -->
</footer>
</div>
<!-- Footer -->
