<section>
	<div class="row">
        <div class="col-md-5 col-sm-6  col-xs-8 section__content--left" id="firstSec">
          <div class="section__text-block">
            <h1 class="section-title"><strong>Take control of your tasks</strong></h1><br>
            <span class="section-subtitle">no matter where they are.</span>
            <p class="section-text">
                Professional life can be overwhelming with emails, meeting notes, Trello, Jira and other systems. You need to stay on top of what needs to be done, but end up wasting time clicking around to find all your tasks.
            </p>
            <p class="section-text">
                <span class="bold-text">VS InfoTech</span> helps you take control of your tasks and saves you time <span class="bold-text">by bringing them all</span> into your preferred task manager.
            </p>

            <a href="/users/signup"><button class="btn btn-success " data-toggle="modal" data-target="#sign-in-modal">Get started  - it’s free </button></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4  col-xs-12 section__content--right">
          <div class="section-img-wrap">
            <img src="/img/control_task.svg" alt="" height="400" width="600">
          </div>
        {{!--  <a href="#secondSec">Click Me Smooth Scroll to Section 2 Below</a> --}}
        </div>
  	</div>
</section>
<section class="section container section-important" id="secondSec" >
    <div class="row text-sm-left text-sm-left text-right">
        <div class="col-md-6 col-sm-6  col-xs-12 section__content--left">
          <div class="section-img-wrap">
            <img src="../img/important_tasks.svg" alt="" height="400" width="530">
          </div>
        </div>
        <div class="col-md-6 col-sm-6  col-xs-12 section__content--right" >
          <div class="section__text-block text-right" >
            <span class="section-subtitle mr-0"><b>Never lose track of </b> </span><br>
            <h3 class="section-title mr-t-0"><strong> important tasks </strong></h3><br>
            <span class="section-subtitle">ever again</span>
            <p class="section-text">
                Never lose track of important emails, action items from meeting notes, or Trello cards. VS InfoTech <strong>keeps</strong> your prefered task manager (Todoist, Wunderlist) <strong>updated with all your tasks</strong> from all your different applications.
            </p>
             {{!--<a href="#firstSec">Click Me </a>--}} 
          </div>
        </div>
    </div>
</section>


<section class="section container section-always-know">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 section__content--left">
      <div class="section__text-block">
        <span class="section-subtitle mr-0">Always know</span><br>
        <h3 class="section-title mr-t-0 mb-2"><strong>what’s next </strong></h3>
        <p class="section-text">
            Prioritizing tasks across multiple applications is hard.<br> 
            Having them all in your task manager with <span class="bold-text">VS InfoTech</span> helps you easily set priorities - and quickly adjust them. <br>
            You <span class="bold-text">always know what’s on top</span> of the list based on due dates and priorities, no matter where the task came from. <br>
        </p>

        <a href="/users/signup"><button data-toggle="modal" data-target="#sign-in-modal" class="btn btn-success ">Get started  - it’s free </button></a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 section__content--right">
      <div class="section-img-wrap">
        <img src="/img/always_know.svg" alt="" height="400" width="550" >
      </div>
    </div>
  </div>
</section>

