body {
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 30%;
}

.zc-body {
  background: #fff;
}

.chart--container {
  height: 100%;
  width: 100%;
  min-height: 600px;
}

.zc-ref {
  display: none;
}
.chart--container {
  height: 100%;
  width: 100%;
  min-height: 600px;
}

.zc-ref {
  display: none;
}
 